<head>
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0, user-scalable = no">

    <title>
        {% if page.title == "Home" %}
        {{ site.title }}
        {% else %}
        {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>

    <link rel = "shortcut icon" href = "{{ site.baseurl }}/assets/images/icons/favicon.ico">

    <link rel = "stylesheet" href = "{{ site.baseurl }}/assets/css/palette.css">
    <link rel = "stylesheet" href = "{{ site.baseurl }}/assets/css/main.css">
    <link rel = "stylesheet" href = "{{ site.baseurl }}/assets/css/overlay.css">

    {% if page.basename == index.html %}
    <link rel = "stylesheet" href = "{{ site.baseurl }}/assets/css/feed.css">
    {% endif %}
    
    {% if page.basename == error %}
    <link rel = "stylesheet" href = "{{ site.baseurl }}/assets/css/error.css">
    {% endif %}
    
    </head>
