<head>
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0, user-scalable = no">

    <title>
        {% if page.title == "Home" %}
        {{ site.title }}
        {% else %}
        {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>

    <link rel = "shortcut icon" href = "{{ site.baseurl }}/assets/images/icons/shortcut.png">

    <link rel = "stylesheet" href = "{{ site.baseurl }}/assets/css/palette.css">
    <link rel = "stylesheet" href = "{{ site.baseurl }}/assets/css/main.css">
    <link rel = "stylesheet" href = "{{ site.baseurl }}/assets/css/overlay.css">

    {% if page.layout == "home" %}
    <link rel = "stylesheet" href = "{{ site.baseurl }}/assets/css/feed.css">
    {% elsif page.layout == "error" %}
    <link rel = "stylesheet" href = "{{ site.baseurl }}/assets/css/error.css">
    {% elsif page.layout == "posts" %}
    <link rel = "stylesheet" href = "{{ site.baseurl }}/assets/css/posts.css">
    {% elsif page.layout == "library" %}
    <link rel = "stylesheet" href = "{{ site.baseurl }}/assets/css/library.css">
    {% elsif page.layout == "document" %}
    <link rel = "stylesheet" href = "{{ site.baseurl }}/assets/css/document.css">
    {% endif %}
</head>
