<div class = "overlay">
    <div class = "sidebar">
        <div class = "sidebar-banner">
            <a href = "{{ site.url }}">
                    <img src = "{{ site.baseurl }}/assets/images/icons/shortcut.png" alt = "FVHS SEC" class = "overlay-shortcut">
            </a>
            <p class = "description"> {{ site.description }}</p>
        </div>

        <nav id = "sidebar-menu">
            <ul>
                <li>
                    <a href = "{{ site.url }}/posts" id = "menu-link" class = "posts-link">
                        Posts
                    </a>
                </li>
                <li>
                    <a href = "{{ site.url }}/library" id = "menu-link" class = "library-link">
                        Library
                    </a>
                </li>
            </ul>
        </nav>

        <div class = "sidebar-footer">
            {% include footer.html %}
        </div>
    </div>
</div>
