<div class = "overlay">
    <div class = "sidebar">
        <div class = "sidebar-banner">
            <h1>
                <a href = "{{ site.url }}">
                    <img src = "{{ site.baseurl }}/assets/images/icons/shortcut.png" alt = "FVHS SEC" class = "overlay-shortcut">
                </a>
            </h1>
            <p class = "description"> {{ site.description }}</p>
        </div>

        <nav class = "sidebar-menu">
            <a href = "{{ site.url }}/pages/posts.html" id = "menu-link">
                Posts
            </a>
            <a href = "{{ site.url }}/pages/posts.html" id = "menu-link">
                Library
            </a>
        </nav>

        <div class = "sidebar-footer">
            {% include footer.html %}
        </div>
    </div>
</div>
