/*
┌──────────────┐  ┌──┐        ┌──┐  ┌──┐        ┌──┐  ┌──────────────┐
│  ┌───────────┘  │  │        │  │  │  │        │  │  │  ┌───────────┘
│  └───────────┐  └──┼──┐  ┌──┼──┘  │  └────────┘  │  │  └───────────┐
│  ┌───────────┘     │  │  │  │     │  ┌────────┐  │  └───────────┐  │
│  │                 └──┼──┼──┘     │  │        │  │  ┌───────────┘  │
└──┘                    └──┘        └──┘        └──┘  └──────────────┘
     ┌──────┐┌──────┐┌──────┐┌──┐┌──┐┌──┬───┐┌──┐┌──────┐┌──┐┌──┐     
     │  ────┤│  ────┤│  ┌───┘│  ││  ││  ┌───┘├──┤└─┐  ┌─┘│  └┘  │
     ├────  ││  ────┤│  └───┐│  └┘  ││  │    │  │  │  │  ├────  │
     └──────┘└──────┘└──────┘└──────┘└──┘    └──┘  └──┘  └──────┘
*/

.error {
    text-align: center;
}

h1 {
    font-size : 56pt;
    color : var(--sol-base02);
}
