/*
┌──────────────┐  ┌──┐        ┌──┐  ┌──┐        ┌──┐  ┌──────────────┐
│  ┌───────────┘  │  │        │  │  │  │        │  │  │  ┌───────────┘
│  └───────────┐  └──┼──┐  ┌──┼──┘  │  └────────┘  │  │  └───────────┐
│  ┌───────────┘     │  │  │  │     │  ┌────────┐  │  └───────────┐  │
│  │                 └──┼──┼──┘     │  │        │  │  ┌───────────┘  │
└──┘                    └──┘        └──┘        └──┘  └──────────────┘
     ┌──────┐┌──────┐┌──────┐┌──┐┌──┐┌──┬───┐┌──┐┌──────┐┌──┐┌──┐     
     │  ────┤│  ────┤│  ┌───┘│  ││  ││  ┌───┘├──┤└─┐  ┌─┘│  └┘  │
     ├────  ││  ────┤│  └───┐│  └┘  ││  │    │  │  │  │  ├────  │
     └──────┘└──────┘└──────┘└──────┘└──┘    └──┘  └──┘  └──────┘
*/

a {
    text-decoration : none;
    color : var(--sol-base02);
}

.post {
     max-width : 10em;
     overflow : hidden;

}
