/*
┌──────────────┐  ┌──┐        ┌──┐  ┌──┐        ┌──┐  ┌──────────────┐
│  ┌───────────┘  │  │        │  │  │  │        │  │  │  ┌───────────┘
│  └───────────┐  └──┼──┐  ┌──┼──┘  │  └────────┘  │  │  └───────────┐
│  ┌───────────┘     │  │  │  │     │  ┌────────┐  │  └───────────┐  │
│  │                 └──┼──┼──┘     │  │        │  │  ┌───────────┘  │
└──┘                    └──┘        └──┘        └──┘  └──────────────┘
     ┌──────┐┌──────┐┌──────┐┌──┐┌──┐┌──┬───┐┌──┐┌──────┐┌──┐┌──┐     
     │  ────┤│  ────┤│  ┌───┘│  ││  ││  ┌───┘├──┤└─┐  ┌─┘│  └┘  │
     ├────  ││  ────┤│  └───┐│  └┘  ││  │    │  │  │  │  ├────  │
     └──────┘└──────┘└──────┘└──────┘└──┘    └──┘  └──┘  └──────┘
*/
.doclist {
     display : block;
     align : left;
}

.sitelist {
     display : block;
     align : left;
}

.doc-link #cover {
  float : left;
  margin : 0.25em;
  max-height : 12em;
  max-width : 9em;
  width : auto;
  overflow : hidden;
}

.site-link #cover {
  float : left;
  margin : 0.25em;
  max-height : 12em;
  max-width : 9em;
  width : auto;
  overflow : hidden;
}

#cover img {
  max-width : initial;
  
  border-width : 2px;
  border-color : #000000;
}

@media (max-width : 48em) {
     .doc-link #cover {
       float : center;
       margin : 0.25em;
       max-height : 4em;
       max-width : 3em;
       width : auto;
       overflow : hidden;
     }

     .site-link #cover {
       float : center;
       margin : 0.25em;
       max-height : 4em;
       max-width : 3em;
       width : auto;
       overflow : hidden;
     }
}
