/*
┌──────────────┐  ┌──┐        ┌──┐  ┌──┐        ┌──┐  ┌──────────────┐
│  ┌───────────┘  │  │        │  │  │  │        │  │  │  ┌───────────┘
│  └───────────┐  └──┼──┐  ┌──┼──┘  │  └────────┘  │  │  └───────────┐
│  ┌───────────┘     │  │  │  │     │  ┌────────┐  │  └───────────┐  │
│  │                 └──┼──┼──┘     │  │        │  │  ┌───────────┘  │
└──┘                    └──┘        └──┘        └──┘  └──────────────┘
     ┌──────┐┌──────┐┌──────┐┌──┐┌──┐┌──┬───┐┌──┐┌──────┐┌──┐┌──┐     
     │  ────┤│  ────┤│  ┌───┘│  ││  ││  ┌───┘├──┤└─┐  ┌─┘│  └┘  │
     ├────  ││  ────┤│  └───┐│  └┘  ││  │    │  │  │  │  ├────  │
     └──────┘└──────┘└──────┘└──────┘└──┘    └──┘  └──┘  └──────┘
*

.reference-book #cover{
  display : inline-block;
  float : left;
  margin : 0.25em;
  max-height : 12em;
  max-width : 9em;
  width : auto;
  overflow : hidden;
}

.reference-book #cover{
  display : inline-block;
  float : left;
  margin : 0.25em;
  max-height : 12em;
  max-width : 9em;
  width : auto;
  overflow : hidden;
}
#cover img {
  max-width : initial;
  
  border-width : 2px;
  border-color : #000000;
}
