html {
    margin : 0;
    padding : 0;

    background-color: var(--sol-base03);

    font-family : Arial, Helvetica, sans-serif;
    color : var(--sol-base3);
}

@media (min-width : 48em) {
    html {
        font-size : 12pt;
    }
}

@media (min-width : 58em) {
    html {
        font-size : 15pt;
    }
}

.content {
    margin : 8px;
}