/*
┌──────────────┐  ┌──┐        ┌──┐  ┌──┐        ┌──┐  ┌──────────────┐
│  ┌───────────┘  │  │        │  │  │  │        │  │  │  ┌───────────┘
│  └───────────┐  └──┼──┐  ┌──┼──┘  │  └────────┘  │  │  └───────────┐
│  ┌───────────┘     │  │  │  │     │  ┌────────┐  │  └───────────┐  │
│  │                 └──┼──┼──┘     │  │        │  │  ┌───────────┘  │
└──┘                    └──┘        └──┘        └──┘  └──────────────┘
     ┌──────┐┌──────┐┌──────┐┌──┐┌──┐┌──┬───┐┌──┐┌──────┐┌──┐┌──┐     
     │  ────┤│  ────┤│  ┌───┘│  ││  ││  ┌───┘├──┤└─┐  ┌─┘│  └┘  │
     ├────  ││  ────┤│  └───┐│  └┘  ││  │    │  │  │  │  ├────  │
     └──────┘└──────┘└──────┘└──────┘└──┘    └──┘  └──┘  └──────┘
*/

html {
    background-color: var(--sol-base3);

    font-family : Arial, Helvetica, sans-serif;
}

@media (min-width : 48em) {
    html {
        font-size : 16px;
    }
}

@media (min-width : 58em) {
    html {
        font-size : 24pt;
    }
}

body {
    margin : 0;
    padding : 0;
}

input:focus {
    -webkit-tap-highlight-color : transparent;
}

.content {
    margin : 4em;
    color : var(--sol-base03);
}

@media (min-width : 48em) {
    .content {
        max-width : 40em;
        margin-left : 20em;
        margin-right : 2em;
    }
}

@media (min-width : 64em) {
    .content {
        margin-left : 20em;
        margin-right : 6em;
        padding-left : 2em;
    }
}
