/*
┌──────────────┐  ┌──┐        ┌──┐  ┌──┐        ┌──┐  ┌──────────────┐
│  ┌───────────┘  │  │        │  │  │  │        │  │  │  ┌───────────┘
│  └───────────┐  └──┼──┐  ┌──┼──┘  │  └────────┘  │  │  └───────────┐
│  ┌───────────┘     │  │  │  │     │  ┌────────┐  │  └───────────┐  │
│  │                 └──┼──┼──┘     │  │        │  │  ┌───────────┘  │
└──┘                    └──┘        └──┘        └──┘  └──────────────┘
     ┌──────┐┌──────┐┌──────┐┌──┐┌──┐┌──┬───┐┌──┐┌──────┐┌──┐┌──┐     
     │  ────┤│  ────┤│  ┌───┘│  ││  ││  ┌───┘├──┤└─┐  ┌─┘│  └┘  │
     ├────  ││  ────┤│  └───┐│  └┘  ││  │    │  │  │  │  ├────  │
     └──────┘└──────┘└──────┘└──────┘└──┘    └──┘  └──┘  └──────┘
*/

html {
    background-color: var(--sol-base3);

    font-family : Arial, Helvetica, sans-serif;
    font-size : 18px;
}

@media (min-width : 48em) {
    html {
        font-size : 20px;
    }
}

body {
    margin : 0;
    padding : 0;
}

input:focus {
    -webkit-tap-highlight-color : transparent;
}

.content {
    margin : 4em;
    margin-left : 25%;

    color : var(--sol-base03);
}

@media (min-width : 48em) {
    .content {
        margin-left : 30%;
        margin-right : 20%;
    }
}

input, textarea, button, select, a {
    -webkit-tap-highlight-color: transparent;
}
