/*
┌──────────────┐  ┌──┐        ┌──┐  ┌──┐        ┌──┐  ┌──────────────┐
│  ┌───────────┘  │  │        │  │  │  │        │  │  │  ┌───────────┘
│  └───────────┐  └──┼──┐  ┌──┼──┘  │  └────────┘  │  │  └───────────┐
│  ┌───────────┘     │  │  │  │     │  ┌────────┐  │  └───────────┐  │
│  │                 └──┼──┼──┘     │  │        │  │  ┌───────────┘  │
└──┘                    └──┘        └──┘        └──┘  └──────────────┘
     ┌──────┐┌──────┐┌──────┐┌──┐┌──┐┌──┬───┐┌──┐┌──────┐┌──┐┌──┐     
     │  ────┤│  ────┤│  ┌───┘│  ││  ││  ┌───┘├──┤└─┐  ┌─┘│  └┘  │
     ├────  ││  ────┤│  └───┐│  └┘  ││  │    │  │  │  │  ├────  │
     └──────┘└──────┘└──────┘└──────┘└──┘    └──┘  └──┘  └──────┘
*/

.sidebar {
    text-align : center;
    padding : 1em;

    background-color : var(--sol-base03);
    color : var(--sol-base3);
    box-shadow : -18px 0px 20px 20px #444444;

    position : fixed;
    
    top : 0;
    left : 0;
    bottom : 0;
    max-width : 20%;

    text-align : center;

}

.description {
    color : var(--sol-base2);
}

ul {
    margin : 0;
    padding : 0;
    list-style-type : none;
}

#sidebar-menu .menu-link {
    text-decoration : none;
    text-align : center;
    color : var(--sol-base3);

    margin-top : 1em;
    margin-bottom : 1em;
}

.overlay-shortcut{
    margin : 0;
    padding : 0;
    max-width : 100%;
    max-height : auto;
}