/*
┌──────────────┐  ┌──┐        ┌──┐  ┌──┐        ┌──┐  ┌──────────────┐
│  ┌───────────┘  │  │        │  │  │  │        │  │  │  ┌───────────┘
│  └───────────┐  └──┼──┐  ┌──┼──┘  │  └────────┘  │  │  └───────────┐
│  ┌───────────┘     │  │  │  │     │  ┌────────┐  │  └───────────┐  │
│  │                 └──┼──┼──┘     │  │        │  │  ┌───────────┘  │
└──┘                    └──┘        └──┘        └──┘  └──────────────┘
     ┌──────┐┌──────┐┌──────┐┌──┐┌──┐┌──┬───┐┌──┐┌──────┐┌──┐┌──┐     
     │  ────┤│  ────┤│  ┌───┘│  ││  ││  ┌───┘├──┤└─┐  ┌─┘│  └┘  │
     ├────  ││  ────┤│  └───┐│  └┘  ││  │    │  │  │  │  ├────  │
     └──────┘└──────┘└──────┘└──────┘└──┘    └──┘  └──┘  └──────┘
*/

.sidebar {
    text-align : center;
    padding : 1%;

    background-color : var(--sol-base03);
    color : var(--sol-base3);
    box-shadow : -13px 0px 20px 15px #444444;

    position : fixed;
    
    top : 0;
    left : 0;
    bottom : 0;

    text-align : center;
}

@media (min-width : 48em){
    .sidebar {
        max-width : 20%;
    }
	
	#sidebar-menu span {
		font-size : 20px;
	}
	
    #sidebar-menu #Initial-link {
        display : none;
    }
	
    #sidebar-menu #Full-link {
        display : inline-block;
    }
}

@media (max-width : 48em){
    .sidebar {
        max-width : 10%;
    }
	
    .description {
        display : none;
    }
	
	#sidebar-menu span {
		font-size : 36px;
	}
	
    #sidebar-menu #Full-link {
        display : none;
    }

    #sidebar-menu #Initial-link {
        display : inline-block;
    }
}


a {
    margin-bottom : 16em;
}

.description {
    color : var(--sol-base2);
}

ul {
    margin-left : 0;
    margin-right : 0;
    padding : 0;
    list-style-type : none;
}

#sidebar-menu #menu-link {
    text-decoration : none;
    text-align : center;
    color : var(--sol-base3);
}

.overlay-shortcut{
    max-width : 100%;
}


