.sidebar {
    text-align : center;
    padding : 2rem 1rem;

    background-color : var(--sol-base03);
    color : var(--sol-base3);

}

@media (min-width : 48em) {
    .sidebar {
        position : fixed;
        
        top : 0;
        left : 0;
        bottom : 0;
        width : 256px;

        text-align : left;
    }
}

.menu-link {
    color : var(--sol-base3);
}

.overlay-shortcut{
    width : 256px;
    height : auto;
}
