/*
┌──────────────┐  ┌──┐        ┌──┐  ┌──┐        ┌──┐  ┌──────────────┐
│  ┌───────────┘  │  │        │  │  │  │        │  │  │  ┌───────────┘
│  └───────────┐  └──┼──┐  ┌──┼──┘  │  └────────┘  │  │  └───────────┐
│  ┌───────────┘     │  │  │  │     │  ┌────────┐  │  └───────────┐  │
│  │                 └──┼──┼──┘     │  │        │  │  ┌───────────┘  │
└──┘                    └──┘        └──┘        └──┘  └──────────────┘
     ┌──────┐┌──────┐┌──────┐┌──┐┌──┐┌──┬───┐┌──┐┌──────┐┌──┐┌──┐     
     │  ────┤│  ────┤│  ┌───┘│  ││  ││  ┌───┘├──┤└─┐  ┌─┘│  └┘  │
     ├────  ││  ────┤│  └───┐│  └┘  ││  │    │  │  │  │  ├────  │
     └──────┘└──────┘└──────┘└──────┘└──┘    └──┘  └──┘  └──────┘
*/

/* Solarized color Palette*/
:root{
    --sol-base03 : #000000;
    --sol-base02 : #323232;
    --sol-base01 : #4b4b4b;
    --sol-base00 : #7d7d7d;
    --sol-base0 : #969696;
    --sol-base1 : #afafaf;
    --sol-base2 : #c8c8c8;
    --sol-base3 : #fafafa;
    --sol-yellow : #b58900;
    --sol-orange : #cb4b16;
    --sol-red : #dc322f;
    --sol-magenta : #d33682;
    --sol-violet : #6c71c4;
    --sol-blue : #268bd2;
    --sol-cyan : #2aa198;
    --sol-green : #859900;
}
