---
layout : page
---

<div class = "library">
    <div class = "references-list">
        <h2> Books </h2>
        <hr>
        <div id = "list">
            {% for reference in site.references %}
            {% if reference.categories contains "book" %}
            <div class = "reference-book">
                <a href = "{{ site.url }}{{ reference.url }}" class = "book-link">
                    <img src = "{{ site.docimageurl }}/{{ reference.cover }}" id = "cover"></img>
                </a>
            {% endif %}
            {% endfor %}
            </div>
        </div>
    
        <h2> Sites </h2>
        <hr>
        <div class = "list">
            {% for reference in site.references %}
            {% if reference.categories contains "site" %}
            <div class = "reference-site" target="_blank">    
            <a href = "{{ reference.site-link }}" class = "site-link">
                <img src = "{{ site.docimageurl }}/{{ reference.cover }}" id = "cover"></img>
            </a>
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
