---
layout : page
---

<div class = "library">
    <div class = "references-list">
        <h2> Books </h2>
        {% for reference in references %}
        <div class = "reference-book">
            <a href = "{{ site.url }}{{ reference.url }}" class = "book-link">
                <img src = "{{ site.docimageurl }}/{{ reference.cover }}" id = "cover"></img>
            </a>
        {% endfor %}
        <!--</div>
        <h2> Sites </h2>
        {% for reference in references %}
        <div class = "reference-site">    
        <a href = "{{ reference.site-link }}" class = "site-link">
            <img src = "{{ site.docimageurl }}/{{ reference.cover }}" id = "cover"></img>
        </a>
        {% endfor %}
        </div> -->
    </div>
</div>
