---
layout : page
---

<div class = "library">
    <div class = "references-list">
        <h2> Books </h2>
        {% assign references = site.references | where_exp: "reference", "post.categories contains 'book'" %}
        {% for reference in references %}
        <div class = "reference-book">
            <a href = "{{ site.url }}{{ reference.url }}" class = "book-link">
                <img src = "{{ site.docimageurl }}/{{ reference.cover }}" id = "cover"></img>
            </a>
        {% endfor %}
        
        <h2> Sites </h2>
        {% assign references = site.references | where_exp: "reference", "post.categories contains 'site'" %}
        {% for reference in references %}
        <a href = "{{ reference.site-link }}" class = "site-link">
            <img src = "{{ site.docimageurl }}/{{ reference.cover }}" id = "cover"></img>
        </a>
        {% endfor %}
        </div>
    </div>


</div>
